.fishnet-chair {
    margin-bottom: 30px;
}

.fishnet {
    height: 190px;
}

.menu-product {
    display: flex;
    justify-content: center;
    list-style-type: none;
    background-color: #f4f4f4;
    height: 70px;
    width: 1366px;
}

.menu-product a:hover {
    color: #212121;
}

.tab-link-product {
    padding-top: 30px;
    padding-right: 40px;
    text-decoration: none;
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    line-height: 70px;
}

.tab-link-active-product {
    color: #212121;
}

.info-product {
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
}

.content-product {
    margin-top: 50px;
}

img[alt="mini"] {
    display: block;
    padding-right: 10px;
}

.name-product {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
}

.tag-product {
    color: #e53935;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    text-align: center;
    padding-top: 10px;
}


.price {
    color: #212121;
    font-weight: 300;
    font-size: 72px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}

.dollar {
    font-size: 48px;
}

.sq {
    font-size: 36px;
}

.buy-button {
    color: #ffffff;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4.4px;
    width: 500px;
    height: 70px;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 35px;
    background-color: #f44336;
    text-align: center;
    line-height: 70px;
    display: inline-block;
    text-decoration: none;
    letter-spacing: 3.6px;
}

.buy-button:hover {
    background-color: #d81002;
}

.buy-button:active {
    background-color: #d81002;
    box-shadow: none;
}

.info {
    padding-top: 45px;
}

.product-info {
    width: 500px;
    color: #212121;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.4px;
    padding-bottom: 25px;
    padding-left: 20px;
}

img[alt="product"] {
    width: 570px;
    height: 570px;
}

.photo-mini {
    display: flex;
    justify-content: flex-start;
    margin-left: 170px;
}

img[alt="mini"] {
    width: 70px;
    height: 70px;
    margin-right: 10px;
}

img[alt="mini"]:hover {
    outline: 1px solid #b5b5b5;
}

.photo-related-product {
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
    margin-bottom: 120px;
}

.related-img {
    width: 370px;
    height: 370px;
}

.related-product {
    margin-top: 220px;
}

.related-header {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    padding-left: 20px;
}
