* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(228, 226, 226);
}

.container {
    margin: 0 auto;
    min-width: 600px;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.padding-site {
    padding-left: 98px;
    padding-right: 98px;
}

/* Style for button "Order Us" */

.slider-button {
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    width: 212px;
    height: 45px;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 23px;
    background-color: #ffffff;
    text-align: center;
    line-height: 45px;
    display: inline-block;
    text-decoration: none;
    letter-spacing: 3.6px;
}

img[alt="arrow-button"] {
    width: 9px;
    height: 13px;
}

.slider-button:hover {
    background-color: rgb(214, 214, 214);
}

.slider-button:active {
    background-color: rgb(214, 214, 214);
    box-shadow: none;
}

/* Style for pagination */

.circle {
    width: 30px;
    height: 30px;
    display: inline-block;
    background-color: #c7c7c7;
    border-radius: 50%;
    margin: 5px;
}

.circle:hover {
    background-color: #212121;
}

.circle:active {
    background-color: #494949;
}

.circle-active {
   width: 40px;
   height: 40px;
   background-color: #212121; 
   margin-bottom: 0;
}

.pagination {
    position: absolute;
    width: 1170px;
    bottom: 19px;
    text-align: center;
}

